<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmSufaXsrwEpjS2uV3n_J306siQ633yWE</string>
	<key>GCM_SENDER_ID</key>
	<string>912811824295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mayank.ecsproject</string>
	<key>PROJECT_ID</key>
	<string>e-c-s-project-d7pu2p</string>
	<key>STORAGE_BUCKET</key>
	<string>e-c-s-project-d7pu2p.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912811824295:ios:92e3da4350f34a42e37782</string>
</dict>
</plist>